@using Tripbuk.Client.Components
@inherits LayoutComponentBase
<RadzenDialog/>
<RadzenNotification/>
<RadzenTooltip/>
<RadzenContextMenu/>
<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body';">
    <RadzenHeader Style="background-color: rgba(0, 0, 0, 0)">
        <RadzenStack JustifyContent="JustifyContent.Center" Style="height: 100%; max-width: 1440px;" class="rz-mx-auto rz-px-2">
            <RadzenRow Gap="0" AlignItems="Radzen.AlignItems.Center">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal">
                    <div class="rz-display-none rz-display-sm-block"></div>
                    <RadzenSidebarToggle Click="@SidebarToggleClick"
                                         Icon="@(_sidebarExpanded ? "close" : "menu")"
                                         class="rz-mx-0 rz-display-block rz-display-sm-none"></RadzenSidebarToggle>
                    <Logo Size="24px" Visible="!_sidebarExpanded"></Logo>
                </RadzenStack>
                <RadzenColumn>
                    <RadzenRow JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center" class="rz-px-4">
                        <RadzenFormField Text="Search" Variant="Variant.Outlined" Style="flex: 1; max-width: 500px" class="header-search rz-mx-4" AllowFloatingLabel="true">
                            <Start>
                                <RadzenIcon Icon="search" />
                            </Start>
                            <ChildContent>
                                <RadzenTextBox @bind-Value="@Search"/>
                            </ChildContent>
                        </RadzenFormField>
                        <RadzenStack class="rz-ml-4">
                            <RadzenMenu class="rz-display-none rz-display-sm-inline-flex" Style="gap: 1.5rem">
                                @foreach (var item in _menuItems)
                                {
                                    @RenderMenuItem(item)
                                }
                            </RadzenMenu>
                        </RadzenStack>
                    </RadzenRow>
                </RadzenColumn>
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal"
                             JustifyContent="JustifyContent.End" Gap="0.5rem">
                    <RadzenAppearanceToggle/>
                    <RadzenProfileMenu Visible="@Security.IsAuthenticated()" Click="@ProfileMenuClick"
                                       ShowIcon="false"
                                       Style="padding: 0px">
                        <ChildContent>
                            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile"
                                                   Visible="@(Security.IsAuthenticated() || Security.User?.Name == "tenantsadmin")"/>
                            <RadzenProfileMenuItem Path="admin" Icon="security" Text="Admin"
                                                   Visible="@(Security.IsAuthenticated() || Security.IsInRole("Admin"))"/>
                            <RadzenProfileMenuItem Path="application-users" Icon="person" Text="Users"
                                                   Visible="@(Security.IsAuthenticated() && Security.Tenant != null)"/>
                            <RadzenProfileMenuItem Path="application-roles" Icon="security" Text="Roles"
                                                   Visible="@(Security.IsAuthenticated() && Security.Tenant != null)"/>
                            <RadzenProfileMenuItem Path="application-tenants" Icon="account_balance_wallet"
                                                   Text="Tenants"
                                                   Visible="@(Security.User?.Name == "tenantsadmin")"/>
                            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new"/>
                        </ChildContent>
                        <Template>
                            <span class="rz-display-none rz-display-sm-inline-flex">
                                <RadzenGravatar Email="@(Security.User?.Name ?? "identicon")"/>
                            </span>
                        </Template>
                    </RadzenProfileMenu>
                    <RadzenButton Text="Login"
                                  Click="@(() => NavigationManager.NavigateTo("/auth/login"))"
                                  Size="ButtonSize.Medium" 
                                  Variant="Radzen.Variant.Flat" 
                                  Style="background-color: var(--rz-on-base)"
                                  Visible="!Security.IsAuthenticated()"></RadzenButton>
                </RadzenStack>
            </RadzenRow>
            <RadzenRow class="subheader" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenMenu Style="gap: 1rem; font-size: 14px">
                    <RadzenMenuItem Text="Anything" Path="/"></RadzenMenuItem>
                    <RadzenMenuItem Text="Places"></RadzenMenuItem>
                    <RadzenMenuItem Text="Hotels"></RadzenMenuItem>
                    <RadzenMenuItem Text="Activities"></RadzenMenuItem>
                    <RadzenMenuItem Text="Restaurants"></RadzenMenuItem>
                    <RadzenMenuItem Text="Flights"></RadzenMenuItem>
                    <RadzenMenuItem Text="Rentals"></RadzenMenuItem>
                    <RadzenMenuItem Text="Community"></RadzenMenuItem>
                </RadzenMenu>
                <RadzenMenu Style="gap: 1rem; font-size: 14px">
                    <RadzenMenuItem Text="Map" Icon="map" Path="map"></RadzenMenuItem>
                </RadzenMenu>
            </RadzenRow>
        </RadzenStack>
    </RadzenHeader>
    <RadzenBody Expanded="@_sidebarExpanded" class="rz-p-0 rz-m-0 rz-overflow-hidden" Style="position: relative;">
        <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Start"
                   class="rz-layout-body-padding rz-px-sm-4 rz-p-lg-4 rz-mx-auto rz-p-md-6"
                   Style="min-height: 80vh; max-width: 1440px">
            <RadzenColumn Size="12">
                @Body
            </RadzenColumn>
        </RadzenRow>
        <RadzenFooter class="rz-px-4 rz-py-2 rz-display-none rz-display-sm-block" Style="background-color: transparent">
            <RadzenStack Style="max-width: 1440px" class="rz-mx-auto">
                <RadzenRow JustifyContent="JustifyContent.Center" AlignItems="AlignItems.Center">
                    <RadzenColumn Size="4">
                        <RadzenStack
                            AlignItems="AlignItems.Center"
                            Orientation="Orientation.Horizontal"
                            JustifyContent="JustifyContent.Start">
                            <CulturePicker/>
                        </RadzenStack>
                    </RadzenColumn>
                    <RadzenColumn Size="4">
                        <RadzenStack AlignItems="AlignItems.Center" Orientation="Radzen.Orientation.Horizontal"
                                     JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="0.5rem">
                            <RadzenText Text="Tripbuk v1.0.0" TextStyle="Radzen.Blazor.TextStyle.Body2"
                                        TextAlign="TextAlign.Center" class="rz-mb-0"/>
                            <RadzenText Text="Copyright Ⓒ 2025"
                                        TextAlign="TextAlign.Center" class="rz-mb-0"
                                        TextStyle="Radzen.Blazor.TextStyle.Body2"/>
                        </RadzenStack>
                    </RadzenColumn>
                    <RadzenColumn Size="4">
                        <RadzenStack
                            AlignItems="AlignItems.Center"
                            Orientation="Orientation.Horizontal"
                            JustifyContent="JustifyContent.End">
                            <RadzenBadge Text="Beta" BadgeStyle="BadgeStyle.Danger"></RadzenBadge>
                        </RadzenStack>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenStack>
        </RadzenFooter>
    </RadzenBody>
    <RadzenSidebar @bind-Expanded="@_sidebarExpanded" style="z-index: 2; width: 270px;" Responsive="false"
                   class="rz-display-block rz-display-sm-none">
        <RadzenStack AlignItems="AlignItems.Center" class="rz-py-4 rz-py-lg-6"
                     Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
            <RadzenText Text="Tripbuk" TextStyle="Radzen.Blazor.TextStyle.DisplayH3" Class="rz-mb-0"
                        Style="color: var(--rz-sidebar-color); cursor: pointer; font-weight: bolder; background-image: linear-gradient(45deg, var(--rz-primary), #af4261); -webkit-background-clip: text; -moz-background-clip: text; -webkit-text-fill-color: transparent; -moz-text-fill-color: transparent;"
                        @onclick="@(() => NavigationManager.NavigateTo("/"))"/>
        </RadzenStack>
        <RadzenPanelMenu>
            @code {

                private RenderFragment RenderPanelMenuItem(MenuItem item) => builder =>
                {
                    builder.OpenComponent<RadzenPanelMenuItem>(0);
                    builder.AddAttribute(1, "Text", item.Text);
                    if (item.Icon != null) builder.AddAttribute(2, "Icon", item.Icon);
                    if (item.Path != null) builder.AddAttribute(3, "Path", item.Path);
                    if (item.Class != null) builder.AddAttribute(4, "class", item.Class);
                    if (item.Items != null && item.Items.Any())
                    {
                        builder.AddAttribute(4, "ChildContent", (RenderFragment)(childBuilder =>
                        {
                            foreach (var subItem in item.Items)
                            {
                                childBuilder.AddContent(5, RenderPanelMenuItem(subItem));
                            }
                        }));
                    }

                    builder.CloseComponent();
                };

            }

            @foreach (var item in _menuItems)
            {
                @RenderPanelMenuItem(item)
            }
        </RadzenPanelMenu>
        <RadzenStack AlignItems="AlignItems.Center" class="rz-mt-6">
            <CulturePicker/>
        </RadzenStack>
        <RadzenStack AlignItems="AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6"
                     Style="padding: var(--rz-panel-menu-item-padding);">
            <RadzenText Text="tripbuk v1.0.0" TextStyle="TextStyle.Caption" TagName="TagName.P"
                        TextAlign="TextAlign.Center"/>
            <RadzenText Text="Copyright Ⓒ 2024" TextStyle="TextStyle.Caption" class="rz-mb-0" TagName="TagName.P"
                        TextAlign="TextAlign.Center"/>
        </RadzenStack>
    </RadzenSidebar>
</RadzenLayout>
