@using ERP.Client.Components
@inherits LayoutComponentBase
<RadzenDialog/>
<RadzenNotification/>
<RadzenTooltip/>
<RadzenContextMenu/>
<RadzenLayout style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body' 'rz-sidebar rz-footer';">
    <RadzenHeader>
        <RadzenRow JustifyContent="JustifyContent.Start" AlignItems="AlignItems.Center" Gap="0" Class=""
                   Style="height: 100%;">
            <RadzenColumn Size="6">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" Gap="1rem">
                    <RadzenSidebarToggle Click="@SidebarToggleClick"
                                         class="rz-mx-0 rz-display-block rz-display-sm-none"></RadzenSidebarToggle>
                    <RadzenText Text="ERP" TextStyle="TextStyle.Subtitle1" Class="rz-mb-0 rz-ml-sm-6"
                                Style="color: var(--rz-header-color); font-weight: bolder;"
                                Visible="!_sidebarExpanded"/>
                    <RadzenMenu class="rz-display-none rz-display-sm-inline-flex">
                        @foreach (var item in _menuItems)
                        {
                            @RenderMenuItem(item)
                        }
                    </RadzenMenu>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="6">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal"
                             JustifyContent="JustifyContent.End" Gap="0.5rem" class="rz-px-2">
                    <RadzenSplitButton Text="Create" Icon="add" Shade="Shade.Lighter" Size="ButtonSize.Small">
                        <ChildContent>
                            <RadzenSplitButtonItem Text="Account" Value="1" />
                            <RadzenSplitButtonItem Text="Item" Value="2" />
                            <RadzenSplitButtonItem Text="Voucher" Value="3" />
                            <RadzenSplitButtonItem Text="Payment" Value="4" />
                            <RadzenSplitButtonItem Text="Receipt" Value="5" />
                        </ChildContent>
                    </RadzenSplitButton>
                    <RadzenAppearanceToggle/>
                    <RadzenProfileMenu Visible="@Security.IsAuthenticated()" Click="@ProfileMenuClick">
                        <ChildContent>
                            <RadzenProfileMenuItem Path="profile" Icon="settings" Text="Profile"/>
                            <RadzenProfileMenuItem Text="Logout" Value="Logout" Icon="power_settings_new"/>
                        </ChildContent>
                        <Template>
                            <span class="rz-display-none rz-display-sm-inline-flex">@Security.User?.Name</span>
                            <RadzenGravatar Email="@(Security.User?.Name ?? "identicon")"/>
                        </Template>
                    </RadzenProfileMenu>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenHeader>
    <RadzenBody Expanded="@_sidebarExpanded">
        <RadzenRow Class="rz-mx-auto rz-px-4 rz-pt-2 rz-pt-md-4 rz-pt-lg-6 rz-pt-xl-12 rz-pb-2 rz-pb-lg-12"
                   Style="max-width: 1440px;">
            <RadzenColumn Size="12">
                @Body
            </RadzenColumn>
        </RadzenRow>
    </RadzenBody>
    <RadzenSidebar @bind-Expanded="@_sidebarExpanded" style="z-index: 2" Responsive="false"
                   class="rz-display-block rz-display-sm-none">
        <RadzenStack AlignItems="AlignItems.Center" class="rz-py-4 rz-py-lg-6"
                     Style="padding: var(--rz-panel-menu-item-padding); border-bottom: var(--rz-panel-menu-item-border);">
            <RadzenText Text="ERP" TextStyle="TextStyle.DisplayH5" class="rz-mb-0"
                        style="color: var(--rz-sidebar-color); font-weight: bold;"></RadzenText>
        </RadzenStack>
        <RadzenPanelMenu>
            @code {
                private RenderFragment RenderPanelMenuItem(MenuItem item) => builder =>
                {
                    builder.OpenComponent<RadzenPanelMenuItem>(0);
                    builder.AddAttribute(1, "Text", item.Text);
                    if (item.Icon != null) builder.AddAttribute(2, "Icon", item.Icon);
                    if (item.Path != null) builder.AddAttribute(3, "Path", item.Path);
                    if (item.Class != null) builder.AddAttribute(4, "class", item.Class);
                    if (item.Items != null && item.Items.Any())
                    {
                        builder.AddAttribute(4, "ChildContent", (RenderFragment)(childBuilder =>
                        {
                            foreach (var subItem in item.Items)
                            {
                                childBuilder.AddContent(5, RenderPanelMenuItem(subItem));
                            }
                        }));
                    }

                    builder.CloseComponent();
                };
            }
            @foreach (var item in _menuItems)
            {
                @RenderPanelMenuItem(item)
            }
        </RadzenPanelMenu>
        <RadzenStack AlignItems="AlignItems.Center" class="rz-mt-6">
            <CulturePicker/>
        </RadzenStack>
        <RadzenStack AlignItems="AlignItems.Center" Gap="0" class="rz-py-4 rz-py-lg-6"
                     Style="padding: var(--rz-panel-menu-item-padding);">
            <RadzenText Text="ERP v1.0.0" TextStyle="TextStyle.Caption" TagName="TagName.P"
                        TextAlign="TextAlign.Center"/>
            <RadzenText Text="Copyright Ⓒ 2024" TextStyle="TextStyle.Caption" class="rz-mb-0" TagName="TagName.P"
                        TextAlign="TextAlign.Center"/>
        </RadzenStack>
    </RadzenSidebar>
    <RadzenFooter class="rz-px-4 rz-py-2 rz-display-none rz-display-sm-block">
        <RadzenRow AlignItems="AlignItems.Center">
            <RadzenColumn Size="4">
                <RadzenStack
                    AlignItems="AlignItems.Center"
                    Orientation="Orientation.Horizontal"
                    JustifyContent="JustifyContent.Start">
                    <CulturePicker/>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="4">
                <RadzenStack AlignItems="AlignItems.Center" Orientation="Radzen.Orientation.Horizontal"
                             JustifyContent="JustifyContent.Center" Wrap="FlexWrap.Wrap" Gap="0.5rem">
                    <RadzenText Text="ERP v1.0.0" TextStyle="TextStyle.Caption" TagName="TagName.P"
                                TextAlign="TextAlign.Center" class="rz-mb-0"/>
                    <RadzenText Text="Copyright Ⓒ 2024" TextStyle="TextStyle.Caption" TagName="TagName.P"
                                TextAlign="TextAlign.Center" class="rz-mb-0"/>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="4">
                <RadzenStack
                    AlignItems="AlignItems.Center"
                    Orientation="Orientation.Horizontal"
                    JustifyContent="JustifyContent.End">
                    <RadzenBadge Text="Beta" BadgeStyle="BadgeStyle.Danger"></RadzenBadge>
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </RadzenFooter>
</RadzenLayout>
