@layout UserLayout
@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> L
@page "/"
@using ERP.Client.Components
@attribute [Authorize]
<PageTitle>Home</PageTitle>
<RadzenStack>
    <RadzenRow class="rz-mb-4">
        <RadzenColumn Size="6">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                <RadzenIcon Icon="dashboard" Style="font-size: 2rem; margin-right: 0.5rem" />
                <RadzenText Text="Dashboard" TextStyle="Radzen.Blazor.TextStyle.DisplayH4" TagName="TagName.H1" style="margin: 0; font-weight: 600"/>
            </RadzenStack>
        </RadzenColumn>
        <RadzenColumn Size="6">
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                <RadzenSplitButton Text="Quick" Icon="shortcut" Shade="Shade.Lighter" Variant="Radzen.Variant.Flat">
                    <ChildContent>
                        <RadzenSplitButtonItem Text="Account" Value="1" />
                        <RadzenSplitButtonItem Text="Item" Value="2" />
                        <RadzenSplitButtonItem Text="Voucher" Value="3" />
                        <RadzenSplitButtonItem Text="Payment" Value="4" />
                        <RadzenSplitButtonItem Text="Receipt" Value="5" />
                    </ChildContent>
                </RadzenSplitButton>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn SizeMD="3" SizeSM="4" SizeXS="6">
            <StatCard OverlineText="Sales" Text="9999" Icon="arrow_upward" Trends="10"></StatCard>
        </RadzenColumn>
        <RadzenColumn SizeMD="3" SizeSM="4" SizeXS="6">
            <StatCard OverlineText="Purchase" Text="9999" Icon="arrow_downward" Trends="-10"></StatCard>
        </RadzenColumn>
        <RadzenColumn SizeMD="3" SizeSM="4" SizeXS="6">
            <StatCard OverlineText="Payments" Text="9999" Icon="moving" Trends="55"></StatCard>
        </RadzenColumn>
        <RadzenColumn SizeMD="3" SizeSM="4" SizeXS="6">
            <StatCard OverlineText="Receipts" Text="9999" Icon="south_west" Trends="-20"></StatCard>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow class="rz-pt-8 rz-border-top rz-mt-4" Style="border-top: 1px dashed var(--rz-base)" JustifyContent="Radzen.JustifyContent.Start" AlignItems="Radzen.AlignItems.Start">
        <RadzenColumn SizeSM="12" SizeMD="4" SizeLG="3">
            <RadzenCard Variant="Variant.Flat">
                <RadzenText Text="Masters Overview" TextStyle="Radzen.Blazor.TextStyle.DisplayH5" Style="font-weight: bold;"/>
                <RadzenChart SeriesClick="@OnSeriesClick">
                    <RadzenPieSeries Data="@_accounts" Title="Type" CategoryProperty="Type"
                                     ValueProperty="Count" Radius="72">
                        <RadzenSeriesDataLabels Visible="true"/>
                    </RadzenPieSeries>
                </RadzenChart>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn SizeSM="12" SizeMD="8" SizeLG="4">
            <RadzenCard Variant="Variant.Flat">
                <RadzenText Text="Masters Overview" TextStyle="Radzen.Blazor.TextStyle.DisplayH5" Style="font-weight: bold"/>
                <RadzenChart>
                    <RadzenChartTooltipOptions Shared="true" />
                    <RadzenLineSeries Smooth="true" Data="@revenue2023" CategoryProperty="Date" Title="2023" LineType="LineType.Dashed" ValueProperty="Revenue">
                        <RadzenMarkers Visible="false" MarkerType="MarkerType.Square" />
                        <RadzenSeriesDataLabels Visible="false" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="@true" Data="@revenue2024" CategoryProperty="Date" Title="2024" ValueProperty="Revenue">
                        <RadzenMarkers Visible="true" MarkerType="MarkerType.Circle" />
                        <RadzenSeriesDataLabels Visible="false" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" />
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn Size="12" SizeLG="5">
            <RadzenCard Variant="Variant.Flat">
                <RadzenRow AlignItems="Radzen.AlignItems.Start">
                    <RadzenColumn>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                            <RadzenIcon Icon="history" Style="font-size: 20px;font-weight:bold;"/>
                            <RadzenText Text="Recent Transactions" TextStyle="Radzen.Blazor.TextStyle.DisplayH6" Style="font-weight: bold;" class="rz-mb-0"/>
                        </RadzenStack>
                    </RadzenColumn>
                    <RadzenColumn>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End">
                            <RadzenButton Icon="add" Variant="Variant.Text"></RadzenButton>
                            <RadzenButton Icon="refresh" Variant="Variant.Text"></RadzenButton>
                            <RadzenButton Icon="more_vert" Variant="Variant.Text"></RadzenButton>
                        </RadzenStack>
                    </RadzenColumn>
                </RadzenRow>
                <RadzenDataGrid Data="@_txns" TItem="Txn" AllowPaging="false" Density="Radzen.Density.Compact" Responsive="true" Style="display: block; height: 285px" class="rz-overflow-auto rz-mb-3">
                    <Columns>
                        <RadzenDataGridColumn TItem="Txn" Property="Id" Title="ID"/>
                        <RadzenDataGridColumn TItem="Txn" Property="Name" Title="Account Name"/>
                        <RadzenDataGridColumn TItem="Txn" Property="Date" Title="Date">
                            <Template Context="txn">
                                @txn.Date.ToString("dd/MM/yyyy")
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="Txn" Property="Total" Title="Total">
                            <Template Context="txn">
                                @txn.Total.ToString("C")
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
                <RadzenLink Text="See all transactions" Icon="east"></RadzenLink>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn>

            <RadzenStack Style="width: 100%; max-width: 600px;">
                <RadzenChart>
                    <RadzenDonutSeries Data="@revenue" CategoryProperty="Quarter" ValueProperty="Revenue" TotalAngle="180" StartAngle="180">
                        <ChildContent>
                            <RadzenSeriesDataLabels Visible="true" />
                        </ChildContent>
                        <TitleTemplate>
                            <div class="rz-donut-content">
                                <div>Revenue</div>
                                <div>for 2024</div>
                            </div>
                        </TitleTemplate>
                    </RadzenDonutSeries>
                </RadzenChart>
            </RadzenStack>
        </RadzenColumn>
    </RadzenRow>
    
</RadzenStack>